################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gRPC_Server_Streaming_Client/obj/Debug/netcoreapp3.1
